<div id="list-restaurants">
    <h1>Рестораны Херсона</h1>
    <div class="raw">
        <div class="col-md-12">
            <div class="pull-right sort">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-random"></i></span>
                    <select class="form-control" ng-model="sort">
                        <option></option>
                        <option value="title">Заголовок</option>
                        <option value="-rating">Рейтинг</option>
                        <option value="distance">Ближайшие к вам</option>
                    </select>
                </div>
            </div>
            <div class="pull-right type">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                    <select class="form-control" ng-model="search.type" ng-change="map.addMarkers((restaurants | filter: search))">
                        <option></option>
                        <option value="pizzeria">Пиццерии</option>
                        <option value="fast-food">Фастфуд</option>
                        <option value="coffee-shop">Кофейня</option>
                    </select>
                </div>
            </div>
            <div class="search">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" ng-model="search.title" ng-change="map.addMarkers((restaurants | filter: search))" placeholder="Поиск ресторана">
                </div>
            </div>
        </div>
    </div>
    <div class="raw">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, restaurant) in restaurantsFiltered = (restaurants | filter: search) | orderBy:sort" ng-mouseenter="map.onMarker(key)" ng-mouseleave="map.offMarker(key)">
                    <div class="restaurant">
                        <div class="title">
                            <a href="#/restaurants/{{restaurant.id}}">{{restaurant.title}}</a>
                        </div>
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i> Рейтинг: {{restaurant.rating}} / 5
                        </div>
                        <div class="distance">
                            <i class="glyphicon glyphicon-globe"></i> От вас к пицерии: {{restaurant.distance}} м.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div id="map"></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <p>Всего пиццерий: <b>{{restaurantsFiltered.length}}</b></p>
</div>